mixin dropdown-list(dropdownParams, size, isExpanded = "false", type, ui = "false")
    if size == "big"
        if isExpanded == "true"
            div(class="dropdown__select_big-expanded")
                - var x = 0
                each val in dropdownParams
                    .dropdown-list
                        h3.dropdown-list__text #{val}
                        .dropdown-list__options
                            img(class="dropdown-list__minus" src=require("minus.svg") alt="")
                            .dropdown-list__quantity-container
                                h3(class="dropdown-list__quantity", count = 0) #{x}
                            img(class="dropdown-list__plus" src=require("plus.svg") alt="")
                if type != "accomodation"
                    h3.dropdown__accept Применить
        if isExpanded == "false"
            div(class="dropdown__select_big")
                - var x = 0
                each val in dropdownParams
                    .dropdown-list
                        h3.dropdown-list__text #{val}
                        .dropdown-list__options
                            img(class="dropdown-list__minus" src=require("minus.svg") alt="")
                            .dropdown-list__quantity-container
                                h3(class="dropdown-list__quantity", count = 0) #{x}
                            img(class="dropdown-list__plus" src=require("plus.svg") alt="")
                if type != "accomodation"
                    h3.dropdown__accept Применить
    else
        if isExpanded == "true"
            div(class="dropdown__select")
                - var x = 0
                each val in dropdownParams
                    .dropdown-list
                        h3.dropdown-list__text #{val}
                        .dropdown-list__options
                            img(class="dropdown-list__minus" src=require("minus.svg") alt="")
                            .dropdown-list__quantity-container
                                h3(class="dropdown-list__quantity", count = 0) #{x}
                            img(class="dropdown-list__plus" src=require("plus.svg") alt="")
        if isExpanded == "false"
            div(class="dropdown__select_expanded")
                - var x = 0
                each val in dropdownParams
                    .dropdown-list
                        h3.dropdown-list__text #{val}
                        .dropdown-list__options
                            img(class="dropdown-list__minus" src=require("minus.svg") alt="")
                            .dropdown-list__quantity-container
                                h3(class="dropdown-list__quantity", count = 0) #{x}
                            img(class="dropdown-list__plus" src=require("plus.svg") alt="")
