mixin date-dropdown(size, arr1, arr2, text1, text2, isRealExpanded = "false")
    .date-dropdown
        if (size == "small")
            .date-dropdown_s
                .date-dropdown__ui
                    +ui-text(arr1)  
                form.date-dropdown__form_s
                    p(class="date-dropdown__input_s") #{text1}
                    div(class="date-dropdown__expand" isExpanded = true)
            .date-dropdown_s
                .date-dropdown__ui
                    +ui-text(arr2)   
                form.date-dropdown__form_s
                    p(class="date-dropdown__input_s") #{text2}
                    div(class="date-dropdown__expand" isExpanded = true)
        if (isRealExpanded == "true")
            .factual-dd
                .factual-dd__container
                    .factual-dd__top
                        .factual-dd__arrow-left
                        div(class="factual-dd__date") 
                            p(class="factual-dd__day-value_active" value="Август 2019") Август 2019
                            p(class="factual-dd__month-value" value="Август 2019") 2019 
                            p(class="factual-dd__year-value" value="Август 2019") year range   
                        .factual-dd__arrow-right
                        .factual-dd__weekdays_active
                    .factual-dd__middle
                        .factual-dd__years
                            - let x = 2009
                            - for(let i = 0; i < 12; i++)
                                .factual-dd__year #{x + i}
                        .factual-dd__months
                            each val in ["Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек"]
                                .factual-dd__month #{val}
                        .factual-dd__days_active
                    .factual-dd__bottom
                        .factual-dd__buttons
                            .factual-dd__clear-container
                                p(class="factual-dd__clear") ОЧИСТИТЬ
                            .factual-dd__accept-container
                                p(class="factual-dd__accept") ПРИМЕНИТЬ
        if (isRealExpanded == "false")
             .factual-dd_closed
                .factual-dd__container
                    .factual-dd__top
                        .factual-dd__arrow-left
                        div(class="factual-dd__date") 
                            p(class="factual-dd__day-value_active" value="Август 2019") Август 2019
                            p(class="factual-dd__month-value" value="Август 2019") 2019 
                            p(class="factual-dd__year-value" value="Август 2019") year range   
                        .factual-dd__arrow-right
                        .factual-dd__weekdays_active
                    .factual-dd__middle
                        .factual-dd__years
                            - let x = 2009
                            - for(let i = 0; i < 12; i++)
                                .factual-dd__year #{x + i}
                        .factual-dd__months
                            each val in ["Янв","Фев","Мар","Апр","Май","Июн","Июл","Авг","Сен","Окт","Ноя","Дек"]
                                .factual-dd__month #{val}
                        .factual-dd__days_active
                    .factual-dd__bottom
                        .factual-dd__buttons
                            .factual-dd__clear-container
                                p(class="factual-dd__clear") ОЧИСТИТЬ
                            .factual-dd__accept-container
                                p(class="factual-dd__accept") ПРИМЕНИТЬ
