doctype html 
html 
    head
    block scripts
        link(href=require('../../scss/_variables.scss') rel='stylesheet')
        link(href=require('../../scss/global/_boilerplate.scss') rel='stylesheet')
        link(href=require('../../scss/global/_mixins.scss') rel='stylesheet')
        link(href=require('../../scss/global/_typography.scss') rel='stylesheet')
        link(href=require('../../index.scss') rel='stylesheet')
        script(src=require('../../index.js') defer='defer')

    body 
        block header              
        block content
        block footer

